* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    height: 100vh;
}

.wrapper {
    width: 800px;
    height: 500px;
    margin: auto;
}

.wrapper ul{
    list-style: none;
}
